@page
<style>
    #results{
        margin-top: 10px;
    }
    body{
        padding: 10px;
    }
</style>
<body>
    <br />
<div id="errors"></div>
<input id="query" type="text" name="query" />
<input id="submit" type="submit" value="Search" />
<div id="results"></div>
</body>
<script type="text/javascript" src="~/js/default.js"></script>
<script type="text/javascript" src="~/js/Search.js">
</script>