@page

@{
    ViewData["Title"] = "Категорії";
}
<style>
    .category{

    }

    .publication{

    }

</style>
<body>
   <div class="category">

   </div>
</body>
<script type="text/javascript" src="~/js/Shuffling.js">
    load();
</script>

